<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Angular App
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" href="#" routerLink="/user-profile">My Profile</a>
          </li>

          <!-- Show only if the user is authenticated -->
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" href="#" routerLink="/list">User List</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/contact-us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/product">Product</a>
          </li>

          <!-- Show login/logout based on authentication status -->
          <li class="nav-item" *ngIf="!isAuthenticated()">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container text-center mt-4">
    <h1>Let's Get Started!</h1>
  </div>
</header>
